.App {
  text-align: center;
}

.header {
	background-color: #96ccff;
	text-align: center;
  position: relative;
  height: 200px;
  width: 100%;
  font-size: 50px;
	padding: 20px;
}

.CardList {
	margin-top: 50px;
}

.background {
  position: fixed;
  height: 300%;
  width: 100%;
  background-image: url("http://orig12.deviantart.net/53f9/f/2016/338/7/d/star_wars___death_star_wallpaper_by_rocklou-daqj3gl.png");
}